@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&family=Open+Sans:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--bodyFont);
}

:root {
  --headingFont: "Afacad", sans-serif;
  --bodyFont: "Open Sans", sans-serif;
}

#titleDiv {
  background-color: cornflowerblue;
  margin: 10px;
  border-radius: 5px;
  color: lemonchiffon;
  /* height: 7.5vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#appTitle {
  font-family: var(--headingFont);
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05rem;
  animation: title-animation 2s linear infinite;
}

/* animation: name duration timing-function delay iteration-count direction fill-mode; */

/* @keyframes title-animation {
  0% {
    font-size: 1.5rem;
  }
  25% {
    font-size: 1.75rem;
  }
  50% {
    font-size: 2rem;
  }
  75% {
    font-size: 1.75rem;
  }
  100% {
    font-size: 1.5rem;
  }
} */

button {
  font-weight: bold;
  letter-spacing: 0.085rem;
  padding: 2.5px 5px;
  display: block;
  margin: 10px auto;
}

.addModalDiv {
  height: 100%;
  width: 100%;
  background: rgba(127, 120, 120, 0.5);
  position: absolute;
  top: 0;
}

#crossBtn {
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  right: 15%;
  top: 2.5%;
  border: none;
  outline: none;
}

.formDiv {
  background: wheat;
}

input {
  outline: none;
}

.formDiv {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.formDiv div {
  padding: 5px 0;
  margin: 5px auto;
}

input {
  padding: 5px;
  width: 250px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  text-align: center;
  font-family: var(--headingFont);
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.radioDiv {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.radioDiv label {
  margin: 0 auto;
}

span {
  font-weight: bold;
}

select {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
}

#dob {
  width: fit-content;
}

#male {
  width: fit-content;
  margin: 0 auto;
}

#female {
  width: fit-content;
  margin: 0 auto;
}

#other {
  width: fit-content;
  margin: 0 auto;
}

#errorLine {
  font-family: var(--headingFont);
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border-bottom: 2.5px solid black;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    font-size: 1rem;
  }
  25% {
    font-size: 1.25rem;
  }
  50% {
    font-size: 1.5rem;
  }
  75% {
    font-size: 1.25rem;
  }
  100% {
    font-size: 1rem;
  }
}

.getResumeTitle {
  font-family: var(--headingFont);
  letter-spacing: 0.15rem;
  text-align: center;
  text-transform: uppercase;
}

td {
  text-align: center;
}

table {
  width: fit-content;
  margin: 0 auto;
  border: 2.5px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 2.5px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  font-family: var(--headingFont);
  letter-spacing: 0.15rem;
  font-size: 1.25rem;
}
